.card-effect:hover{
    border-radius: 0.5rem;
    box-shadow: -1px 6px 10px 1px rgba(0,0,0,1);
    transform: scale(1.009);
    transition: 0.5s all;
}
.card-effect:active{
    transform: scale(0.80);
    box-shadow: none;
}
