<a [routerLink]="['content', ID]">
    <div class="container__big-card card-effect">
        <div class="big-card__picture" >
            <img src="{{ photoCover }}"
            width="100%"
            height="300px"
            alt="image">
        </div>
        <div class="big-card__title">
            <h1>{{ cardTitle }}</h1>
        </div>
        <div class="big-card__description">
            <p>
                {{cardDescription}}
                <span class="author">
                    {{cardAuthor}}
                </span>
            </p>
        </div>
    </div>
</a>
