.container-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}
.container-cover{
    width: fit-content;
    margin-bottom: 0.5rem;
}
.container-cover > img{
    border-radius: 0.5rem;
    width: 500px;
    height: 300px;
}
.container-title{
    text-align: center;
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
}
.container-description{
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    height: fit-content;
}
.container-description > a > p{
    color: aqua;
    text-decoration: underline;
}
