/* You can add global styles to this file, and also import other style files */
*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    padding: 0 3rem;
    background-color: #111111;
    height: 100%;
}
a{
    text-decoration: none;
}

