<app-menu-title
cardTitle="https://angular.io/assets/images/logos/angular/logo-nav@2x.png"
></app-menu-title>

<div class="articles">
    <div class="articles__main ">
            <app-big-card
            ID="1"
            photoCover="https://miro.medium.com/v2/resize:fit:1400/1*bMgQ8MhbnQexpqHgIgBJPA.png"
            cardTitle="What’s New in Angular 16 and What To Expect"
            cardDescription="A brief overview of the features we’re most excited for"
            cardAuthor="4gray"
            ></app-big-card>
    </div>
    <div class="articles__others">
                <app-small-card
                ID="2"
                photoCover="https://angular.io/generated/images/marketing/home/loved-by-millions.svg"
                cardTitle="LOVED BY MILLIONS"
                ></app-small-card>
                <app-small-card
                ID="3"
                photoCover="https://angular.io/generated/images/marketing/home/any-size.svg"
                cardTitle="WORKS AT ANY SCALE"
                ></app-small-card>
                <app-small-card
                ID="4"
                photoCover="https://angular.io/generated/images/marketing/home/build-for-everyone.svg"
                cardTitle="BUILD FOR EVERYONE"
                ></app-small-card>
    </div>
</div>


